page-orderform {

}
.button-container {
    align-self: center;
    text-align: left;
}
.padding-taxt {
	margin-bottom:10.0px;
}

.card-md h3, .card-md h4, .card-md h5, .card-md h6 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: normal;
    color: #387ef5;
}

.card-header-md {
    padding: 16px;
    font-size: 1.9rem;
    color: #222;
}

.item-select .label-md{
    color: #222;
    font-size: 1.9rem;
}
#label-order{
	font-size: 1rem !important;
	font:bold;
}
